/Tugas1/nbproject/private/
/Tugas1/build/
/Tugas1/Server/nbproject/private/
/Tugas1/Server/build/
/Tugas1/Client/nbproject/private/
/Tugas1/Client/build/
/Tugas1/Server/dist/
/Tugas1/Client/dist/
/Tugas2/nbproject/private/
/Tugas2/build/
/Tugas2/Server/nbproject/private/
/Tugas2/Server/build/
/Tugas2/Client/nbproject/private/
/Tugas2/Client/build/
/Tugas2/Server/dist/
/Tugas2/Client/dist/